ariadne==0.8.0
astroid==2.3.3
Click==7.0
contextlib2==0.5.5
Flask==1.1.1
Flask-GraphQL==2.0.1
graphql-core==2.2.1
GraphQL-core-next==1.1.1
graphql-server-core==1.1.1
h11==0.8.1
httptools==0.0.13
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
promise==2.2.1
pylint==2.4.4
Rx==1.6.1
schema==0.7.1
six==1.13.0
starlette==0.13.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
uvicorn==0.10.8
uvloop==0.14.0
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
